
<div class="status-indicator {{status}}"></div>
<div class="text-wrapper">
  <small>{{date}}</small>
  <strong>{{title}}</strong><br>
  {{description}} 
  
  {{#if comment}} 
    <text style="color:#999;"> <i>:: {{comment}}</i> </text>
  {{/if}}
</div>
<div class="overlay">
  <div class="status open" data-value="open">
    Abierto
  </div>
  <div class="status working" data-value="working">
    Iniciado
  </div>
  <div class="status closed" data-value="closed">
    Atendido
  </div>
</div>